{% extends "base.html" %}
{% load static %}

{%  block css_style %}
        <link rel="stylesheet" href="{% static 'blog/includes/post.css' %}">
        <link rel="stylesheet" href="{% static 'blog/all_posts.css' %}">
        <link rel="stylesheet" href="{% static 'header.css' %}">
{%  endblock %}

{%  block page_title %} All Posts {%  endblock %}

{%  block content %}
{%  include "header.html" %}
<section id="all-posts">
    <h2>
        My Collected Posts
    </h2>
            <ul>
                {% for post in post_list %}
                        <article class="post">
        <a href='{% url "post_detail" post_id=post.id  %}'>
            <img src="{{ post.image.url }}">
                <div class="post_content">
                    <h3> {{ post.title }}</h3>
                    <p>
                        {{ post.excerpt }}
                    </p>
                </div>
            </img>
        </a>
        <a class="post-author" href="{% url "users-profile" %}">
            {{post.author}}
        </a>
</article>
                {% endfor %}

            </ul>

</section>

{%  endblock %}