{% extends "base.html" %}
{% load static %}

{%  block css_style %}
        <link rel="stylesheet" href="{% static 'blog/start_page.css' %}">
                 <link rel="stylesheet" href="{% static 'blog//includes/header.css' %}">
{%  endblock %}

{%  block page_title %} All Posts {%  endblock %}

{%  block content %}
{%  include "blog/includes/header.html" %}
        <ol>
            {% for post in post_list %}

                <li><a href="{% url 'post' post %}">{{ post.title }}</a></li>
            {% endfor %}
        </ol>
{%  endblock %}