html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    height: 100%;
    align-items: center;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}


#latest-posts {
    margin: 5%;
    background-color: white;
    padding: 20px;
    border: 2px solid black;
    text-align: center;

}
#latest-posts h2 {
  text-align: center;
}

/* Genel düzen */
.post-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .post-area {
    flex-direction: column;
  }
}

.post-card{
        width: 30%;
        border: 1px solid black;
}
