html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    height: 100%;
    align-items: center;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}


#latest-posts {
    margin: 5%;
    background-color: white;
    padding: 20px;
    border: 2px solid black;
    text-align: center;
}
#latest-posts h2 {
  text-align: center;
}

#latest-posts ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}

#latest-posts li {
  flex: 1;
}
