<div class="navbar">
    <ul class="nav-links">
        <li><a href='{% url "start_page" %}'>Blog</a></li>
        <li><a href='{% url "posts" %}'>My Posts</a></li>
        <li><a href='{% url "read-later" %}'>Stored Posts</a></li>
        <li><a href='{% url "create-post" %}'>Post</a></li>

    </ul>

    <div class="auth-section">
        {% if user.is_authenticated %}
            <button class="profile-btn">
                <a href='{% url "users-profile" %}'>{{ request.user.username }}</a>
            </button>
            <form method="post" action="{% url 'logout' %}" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="logout-btn">Log Out</button>
            </form>
        {% else %}
            <button class="logout-btn">
                <a href='{% url "login" %}' >Log In</a>
            </button>
            <button class="logout-btn">
                <a href='{% url "register" %}' >Sign Up</a>
            </button>
        {% endif %}
    </div>
</div>
