
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}


#register-form {
  max-width: 100%;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}


#register-form h2 {
  font: bold;
  text-align: center;
  color: black;
  margin-bottom: 2rem;
}

.form-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;

}

.form-group label{
 font-size: 20px;

}

.form-group input{

  font-size: 25px;
}

.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.half-width {
    flex: 1;
}

button.submit-button {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.submit-button:hover {
    background-color: #45a049;
}