{% extends "base.html" %}
{% load static %}
{% block title %}Profile Page{% endblock title %}


{%  block css_style %}
        <link rel="stylesheet" href="{% static 'users/profile.css' %}">
        <link rel="stylesheet" href="{% static 'header.css' %}">
{%  endblock %}

{% block content %}
    {%  include "header.html" %}


    <div class="profile-card">
        <div class="card-header">
            <img src="{{profile.avatar.url}}" alt="Profile Image" class="profile-img">
        </div>
        <div class="card-body">
            <h2 class="name">{{ profile.user}}</h2>
            <p class="email">{{ user.email }}</p>
            <p class="details">{{ profile.bio }}</p>
            {%  for post in profile.post %}
                {{post.title}}
            {%  endfor %}
            <div class="stats">
                <div>
                    <span class="stat-number">{{ post_count }}</span>
                    <span class="stat-label">Review</span>
                </div>

                <div>
                    <span class="stat-number">{{ comment_count }}</span>
                    <span class="stat-label">Comments</span>
                </div>
            </div>
            <a class="show-more" href="{% url 'users-profile-update' %}" role="button">Update Profile</a>
            <button class="show-more">Change Password</button>
        </div>
    </div>

{% endblock content %}