{% extends "base.html" %}
{% load static %}
{% block title %}Profile Page{% endblock title %}


{%  block css_style %}
        <link rel="stylesheet" href="{% static 'users/profile.css' %}">
{%  endblock %}

{% block content %}


    <div class="profile-card">
        <div class="card-header">
            <img src="{{profile.avatar.url}}" alt="Profile Image" class="profile-img">
        </div>
        <div class="card-body">
            <h2 class="name">{{ profile.user}}</h2>
            <p class="location">{{ user.email }}</p>
            <p class="details">{{ profile.bio }}</p>
            <div class="stats">
                <div>
                    <span class="stat-number">65</span>
                    <span class="stat-label">Reviews</span>
                </div>

                <div>
                    <span class="stat-number">21</span>
                    <span class="stat-label">Comments</span>
                </div>
            </div>
            <button class="show-more">Update Profile</button>
            <button class="show-more">Change Password</button>
        </div>
    </div>

{% endblock content %}